<div class="overflow-hidden rounded-lg border border-gray-200 shadow-md m-5">
    <button class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-lg m-4" (click)="showAddForm = true">Ajouter
        un nouveau</button>

    <div [class.hidden]="!showAddForm" class="popup-form p-4">
        <h2 class="text-lg font-semibold">{{ operation === 'add' ? 'Ajouter' : 'Modifier' }} un niveau</h2>
        <form [formGroup]="assignmentForm" (ngSubmit)="operation === 'add' ? saveAssignment() : null" class="py-6 px-9">
            <div class="mb-5">
                <label for="date_debut" class="mb-3 block text-base font-medium text-[#07074D]">
                    date_debut
                </label>
                <input type="date" name="date_debut" id="date_debut" formControlName="date_debut"
                    placeholder="date_debut" required
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="date_fin">date_fin</label>
                <input type="date" id="date_fin" formControlName="date_fin" placeholder="date_fin"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="raison">raison</label>
                <input type="text" id="raison" formControlName="raison" placeholder="raison"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="score">score</label>
                <input type="text" id="score" formControlName="score" placeholder="score"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="attempt_number">attempt_number</label>
                <input type="text" id="attempt_number" formControlName="attempt_number" placeholder="attempt_number"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="score_final">score_final</label>
                <input type="text" id="score_final" formControlName="score_final" placeholder="score_final"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>

            <div class="mb-5 flex space-x-8">
                <button type="submit"
                    class="hover:shadow-form w-30 rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none">{{
                    operation === 'add' ? 'Ajouter' : 'Modifier' }}</button>
                <button type="button" (click)="cnacelAddOrEdit()"
                    class="hover:shadow-form w-30 rounded-md bg-[#9D1818] py-3 px-8 text-center text-base font-semibold text-white outline-none">Annuler</button>
            </div>
        </form>
    </div>
    <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
        <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900 " [ngStyle]="{color:'red'}">ID</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">start date</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">date fin</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">attempt number</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">score</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">score final</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">student</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">title quiz</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">raison</th>
                <th scope="col" class="px-6 py-4 font-medium text-gray-900">Action</th>
            </tr>
        </thead>
        <!-- string interpolation -->
        <tbody class="divide-y divide-gray-100 border-t border-gray-100">
            <tr class="hover:bg-gray-50" *ngFor="let assignment of assignments; let i = index">
                <td class="px-6 py-4">{{ i + 1 }}</td>
                <td class="px-6 py-4">{{ assignment.date_debut }} </td>
                <td class="px-6 py-4">{{ assignment.date_fin }}</td>
                <td class="px-6 py-4">{{ assignment.attempt_number }}</td>
                <td class="px-6 py-4">{{ assignment.score }}</td>
                <td class="px-6 py-4">{{ assignment.score_final }}</td>
                <td class="px-6 py-4">
                    <div *ngFor="let student of assignment.students; let i = index">
                        {{ i + 1 }} : {{ student.firstName }}
                    </div>
                </td>
                <td class="px-6 py-4">{{ assignment.quiz.title }}</td>
                <td class="px-6 py-4">{{ assignment.raison }}</td>
                <td class="px-6 py-4">

                    <div class="flex justify-center gap-4">
                        <a x-data="{ tooltip: 'Delete' }" (click)="deleteAssignment(assignment.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="h-6 w-6" x-tooltip="tooltip">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>
                        </a>
                        <a x-data="{ tooltip: 'Edite' }" (click)="editAssignment(assignment)">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="h-6 w-6" x-tooltip="tooltip">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                            </svg>
                        </a>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>