<!-- app-common-form-component.component.html -->
<div class="mb-5" [formGroup]="formGroup">
    <label [for]="inputId" class="mb-3 block text-base font-medium text-[#07074D]">
        {{ label }}
        <input [type]="inputType" [name]="inputName" [id]="inputId" [formControlName]="formControlName"
            [required]="isRequired" [placeholder]="placeholder"
            class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
    </label>
</div>
